body {
    background-color: #2F004F;
    color: white;
    font-family: "Segoe UI", serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding: 5px;
    border-bottom: 5px solid #2a0046;
    margin-top: 1rem;
}

header h1 {
    padding-left: 20px;
}

.back-button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0.5rem;
    font-size: 1.4rem;
    transition: all 300ms;
}

.back-button:hover {
    color: #DA627D;
}

